<% for(var i = 0; i < ibareler.length; i++) { %>
<tr>
    
	<td><%= ibareler[i].sayfa %></td>
	<td><%= ibareler[i].ibareMetni %></td>
    <td><%= ibareler[i].terkipSoru %></td>
	<td><%= ibareler[i].kelimeSoru %></td>
	<td><%= ibareler[i].kitapAdi %></td>

	
    <td>
        <a href="/update-ibare?id=<%= ibareler[i]._id%>" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
        </a>
        <a class="btn border-shadow delete" data-id=<%= ibareler[i]._id%> >
            <span class="text-gradient"><i class="fas fa-times"></i></span>
        </a>
    </td>
</tr>
<% } %>